div#calendar_wrap {
	letter-spacing: 7px;

	table#wp-calendar {
		line-height: 1.9;
    	text-align: center;

    		caption {
    			text-align: center;
    			font-size: 24;
    		}
    	}
    }
tbody {
	background-color: #F7F7F7 !important;
}