// variable warna
// ========================================================================

$black: #000000;
$white: #ffffff;
$post-title: #01826C;
$postmeta: #968B8B;
$bg-readmore: #337ab7;
$hv-readmore: #05799D;
$border-queri: #D6D5D5;

// Font-family
// ========================================================================
$font-title: 'Orbitron', sans-serif;
$font-desc: 'Bree Serif', serif;
$post-title: 'Droid Sans', sans-serif;
$font-sidebar: 'Source Sans Pro', sans-serif;